/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  box-shadow: 4px 10px 10px lightgrey;
}

/*texto venta directa*/
.textoVenta {
  text-align: center;
  margin-top: 100px;
  padding: 185px;
  color: rgb(73, 73, 73);
}

/* preguntas frecuentes*/
.pregFrecu p {
  padding: 50px;
  text-align: center;
  background-color: rgb(247, 241, 241);
  margin: 20px;
  margin-top: 75px;
}

#bg-contacto {
  margin-top: 60px;
  padding: 20px;
}

footer {
  padding: 80px;
  margin: 10px;
}
